.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.7 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

