
body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
th {
	text-align: left;
	vertical-align: top;
}
.info {
	padding: 2px 2px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 2px;
}
.info h2 {
	margin: 0 0 0px;
	color: #222;
	background: #fff;
	padding: 6px 6px;
	border-radius: 6px;
}
.info h3 {
	font: 10px/12px Arial, Helvetica, sans-serif;
	margin: 0 0 4px;
	color: #444;
}
.info h4 {
	font: 10px/12px Arial, Helvetica, sans-serif;
	margin: 0 0 2px;
	color: #444;
}
.leaflet-container {
background: #fff;}